<h1>Listing sources</h1>

<table>
  <tr>
    <th>Person</th>
    <th>Provider</th>
    <th>Name</th>
    <th>Client</th>
    <th>Client key</th>
    <th>Client secret</th>
    <th>Client type</th>
    <th>Uid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sources.each do |source| %>
  <tr>
    <td><%= source.person_id %></td>
    <td><%= source.provider %></td>
    <td><%= source.name %></td>
    <td><%= source.client_id %></td>
    <td><%= source.client_key %></td>
    <td><%= source.client_secret %></td>
    <td><%= source.client_type %></td>
    <td><%= source.uid %></td>
    <td><%= link_to 'Show', source %></td>
    <td><%= link_to 'Edit', edit_source_path(source) %></td>
    <td><%= link_to 'Destroy', source, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Source', new_source_path %>
